<div class="main">
    <app-navbar></app-navbar>

    <div class="flex">
        <div class="flexdown">
            <div style="color:white;font-size:20px;">About Us</div>
            <b>Business <br> Profile</b>
                <br>
                <br>
            <div style="color:white;font-size:20px;">
                We help you get in touch with the <br>
                nearest doctor to you, who meets your <br>
                wallet conditions
            </div>
        </div>
        <div class="flexdown2">
            <img src="../../../assets/about us.webp" alt="doc" width="600px"><br>
        </div>
    </div>
</div>
