<div class="main">
    <app-navbar></app-navbar>

    <div class="flexdown">
        <h2>Medical Experts</h2>
    </div>

    <div class="display">
        <div class="medic-container">
            <img src="../../../assets/doc-mkuru.webp" alt="doc">
            <div><b>Dr. Dan Kitheka</b></div>
            <div class="flex">
                <div><b>Location</b>: Nairobi</div>
                <div><b>Experience</b>: 8 Yrs</div>
            </div>
            <div class="flex">
                <div><b>Patients</b>: 3.1K</div>
                <div><b>Fee</b>: 3000 Ksh</div>
            </div><br>
            <button class="btn btn-primary">Book Appointment</button>
        </div>
        <div class="medic-container">
            <img src="../../../assets/male-doctor.jpeg" alt="doc">
            <div><b>Dr. Dan Kitheka</b></div>
            <div class="flex">
                <div><b>Location</b>: Mombasa</div>
                <div><b>Experience</b>: 3 Yrs</div>
            </div>
            <div class="flex">
                <div><b>Patients</b>: 982</div>
                <div><b>Fee</b>: 2000 Ksh</div>
            </div><br>
            <button class="btn btn-primary">Book Appointment</button>
        </div>
        <div class="medic-container">
            <img src="../../../assets/black-doctor.jpg" alt="doc">
            <div><b>Dr. Joy Kwamboka</b></div>
            <div class="flex">
                <div><b>Location</b>: Nairobi</div>
                <div><b>Experience</b>: 5 Yrs</div>
            </div>
            <div class="flex">
                <div><b>Patients</b>: 2.3K</div>
                <div><b>Fee</b>: 2500 Ksh</div>
            </div><br>
            <button class="btn btn-primary">Book Appointment</button>
        </div>
        <div class="medic-container">
            <img src="../../../assets/doc-mkuru.webp" alt="doc">
            <div><b>Dr. Dan Kitheka</b></div>
            <div class="flex">
                <div><b>Location</b>: Nairobi</div>
                <div><b>Experience</b>: 8 Yrs</div>
            </div>
            <div class="flex">
                <div><b>Patients</b>: 3.1K</div>
                <div><b>Fee</b>: 3000 Ksh</div>
            </div><br>
            <button class="btn btn-primary">Book Appointment</button>
        </div>
        <div class="medic-container">
            <img src="../../../assets/male-doctor.jpeg" alt="doc">
            <div><b>Dr. Dan Kitheka</b></div>
            <div class="flex">
                <div><b>Location</b>: Mombasa</div>
                <div><b>Experience</b>: 3 Yrs</div>
            </div>
            <div class="flex">
                <div><b>Patients</b>: 982</div>
                <div><b>Fee</b>: 2000 Ksh</div>
            </div><br>
            <button class="btn btn-primary">Book Appointment</button>
        </div>
        <div class="medic-container">
            <img src="../../../assets/black-doctor.jpg" alt="doc">
            <div><b>Dr. Joy Kwamboka</b></div>
            <div class="flex">
                <div><b>Location</b>: Nairobi</div>
                <div><b>Experience</b>: 5 Yrs</div>
            </div>
            <div class="flex">
                <div><b>Patients</b>: 2.3K</div>
                <div><b>Fee</b>: 2500 Ksh</div>
            </div><br>
            <button class="btn btn-primary" routerLink="/book">Book Appointment</button>
        </div>


    </div>
</div>
