<div class="main">
    <app-navbar></app-navbar>

    <div class="flex">
        <div class="flexdown">
            <b>BOOK YOUR<br>
            <div style="color:#04ff4a">DOCTOR</div>
            TODAY</b>
                <br>
                <br>
            <button class="btn btn-primary">Book A Doctor</button>
        </div>
        <div class="flexdown2">
            <img src="../../../assets/doctorCall1.jpeg" alt="doc"><br>
            <div>Connect with health professionals</div>
        </div>
    </div>
</div>