<app-navbar></app-navbar>
<div class="appmain">
    <form class="register-medic" action="">
        <div>
            <b style="font-size: 30px; color: white;">Sign Up</b>
        </div>
        <div >
            <label for="">Full names</label><br/>
            <input type="text" name="fullname" class="form-control">
        </div><br>
        <div>
            <label for="">Speciality</label><br/>
            <select name="Speciality" class="form-control">
                <option>Select Speciality</option>
                <option>Doctor</option>
                <option>Nurse</option>
                <option>Emergency Response</option>
            </select>
        </div><br>
        <div>
            <label for="">Work ID</label><br/>
            <input type="text" name="workid" class="form-control">
        </div><br>
        <div>
            <label for="">Password</label><br/>
            <input type="text" name="password" class="form-control">
        </div><br>
        <button class="btn btn-success">Submit</button>
    </form>
</div>