<app-navbar></app-navbar>
<div class="appmain">
    <form class="register-medic" action="">
        <div>
            <b style="font-size: 30px; color: white;">Book Appointment</b>
        </div>
        <div >
            <label for="">Full names</label><br/>
            <input type="text" name="fullname" class="form-control">
        </div><br>
        <div>
            <label for="">Phone Number</label><br/>
            <input type="text" name="phonenumber" class="form-control">
        </div><br>
        <div>
            <label for="">Email</label><br/>
            <input type="text" name="email" class="form-control">
        </div><br>
        <div>
            <label for="">Date</label><br/>
            <input type="date" name="date" class="form-control">
        </div><br>
        <div>
            <label for="">Time</label><br/>
            <input type="time" name="time" class="form-control">
        </div><br>
        <button class="btn btn-success">Submit</button>
    </form>
</div>
